body{
	background-image: url("/assets/img/body-img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}
img{
	height: 150px;
	width: 400px;
}
p{
	text-align: center;
	color: white;
}
.pokemon{
	height: 1px;
	padding:0 34%;
}
#container{
	position: center;
}
#game{
	position: relative;
	padding-top: 160px;
	padding-left: 325px;
}
