<!DOCTYPE html> 
<html>
<head>
	<title>Pokemon Phaser</title>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.min.js"></script>
</head>
<body>

<div class="pokemon">
	<img src="public/assets/img/pokemon1.png">
</div>


<div class="container">
	<div id="game"></div>
</div>


<p>This is no way affiliated with pokemon</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="public/js/phaser.js"></script>
</body>
</html>