html{
	height: 100%;
}
body{
	background-image: url("../assets/img/body-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}
canvas {
	height: 400px;    
	display : block;   
	margin : 0 auto;
}
img{
	display: block;
	margin: 0 auto;
	height: 150px;
	width: 400px;
}
p{
	text-align: center;
	color: white;
}
.pokemon{
	width: 100%;
	height: 200px;
}


